################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestingCore/.vs/TestingCore/v16
/TestingCore/TestingCore/obj
